
* {
    box-sizing:border-box;
}
 .dropdown {
     position: relative;
     display: inline-block;
     padding:16px;
     background-color: darkgreen;
     opacity: 0.8;
     font-size: 16px;
     cursor: pointer;
     
 }
 .menu-button {
     color:white;
 }
 .dropdown:hover {
     opacity: 1;
 }
 .dropdown {
     margin: 16px;
 }
 .menu-list {
    position: absolute;
    top:50px;
    left: 0;
    background-color:lightcyan;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
    min-width: 120px;
    display: none;
    list-style-type: none;
    z-index: 1;
    margin-bottom: 100px;
    
 }
    .menu-item {
        padding: 16px;
    }
 .dropdown:hover .menu-list {
    display: block;
     
 }
 .menu-item:hover {
     background-color:ghostwhite;
     
 }
 .menu-item:nth-child(2){
     margin-top: 1px;
 }
 .menu-item:nth-child(3){
    margin-top: -1px;
    margin-bottom: 1px;

}
 
